* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f6f8fa;
    --border-color: #e1e4e8;    
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

.w-full {
    width: 100%;
}

.header {
    height: 320px;
    padding: 20px 16%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.header-container {
    margin-top: 40px;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex: 1;
}

.github-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.button {
    background-color: rgba(0, 128, 0, 0.842);
    border: 1px solid var(--bg-color);
    transition: background-color 0.2s;
    font-weight: bold;
    padding: 14px;
    margin-top: 5px;
    color: white;
    border-radius: 7px;
}

.button:hover {
    background-color: rgba(0, 128, 0, 0.932);
}

.main {
    width: 70%;
    margin: 0 auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;
    margin-top: 20px;
    gap: 10px;
}

.card {
    height: 80px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    width: 90%;
}

.link {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.6;
}

.ad-course {
    border: 1px solid var(--border-color);
    padding: 26px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-course h3 {
    flex: 1;
    opacity: 0.7;
    font-size: 1.2em;
}

.ad-course button {
    border: 1px solid var(--border-color);
    padding: 14px;
    transition: background-color 0.2s;
    border-radius: 7px;
    background-color: var(--bg-color);
    color: black;
}

.ad-course button:hover {
    background-color: #f0f0f0;
}

footer {
    margin-top: 4rem;
    display: flex;
    justify-content: start;
    padding: 30px 20px;
    flex-wrap: wrap;
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 0.4rem 1rem;
}

footer a {
    opacity: 0.7;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

.skills-link {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.6;
}

.skills-link:hover {
    color: blue;    
    text-decoration: none;
}

@media (max-width: 1224px) {
    .header {
        padding: 20px;        
    }

    .main {
        width: 90%;        
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media (max-width: 768px) {
    .header {
        padding: 20px;
        height: auto;
    }

    .cards-container {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }    

    .header-container {
        flex-direction: column;
        height: 450px;
        margin-bottom: 50px;
    }

    .github-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .github-image img {
        margin-top: 60px;
        width: 330px;
    }
}